body {
  background-color: #F5F5DC;
}
.navbar-brand {
    padding-right: 4rem;
    padding-left: 1rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    font-family: "Pacifico", cursive;
}
.navbar img {
    width: 15%;
    border-radius: 6rem;
    margin-bottom: 3rem;
    border: 6px solid 	#8B0000;
}
.nav-item a {
    margin: 1rem 1rem;
}
.navbar {
    background-color: 	#FF8C00;
}
.nav-link {
    color: #fff;
    font-size: 1.5rem;
}
.nav-product {
  font-size: 25px;
  margin-bottom: 3rem;
  color: white;
  background-color: #FF8C00;
  border: 6px solid 	#8B0000;
  padding: 10px;
  border-radius: 20px;
  font-family: "Pacifico", comic;
  display: inline-block;
  text-align: center;
}
.carousel-item {
    border-radius: 1rem;
    border: 8px solid 	#8B0000;
    filter: brightness(70%)
  }
  .carousel-inner {
    text-shadow: 2px 2px 4px 	#FF0000;
    border-radius: 10%; /* You can adjust the value to your preference */
      overflow: hidden;
      border: 8px solid 	#8B0000;
  }
  #carouselExampleCaptions {
      width: 70%;
      margin: auto; /* Untuk membuat Carousel berada di tengah */
    }
    .navbar-toggler-icon {
        background-color: #8B0000 !important;
      }


    .about,
.visi,
.contact {
  padding: 20px 50px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.about h2,
.visi h2,
.galeri h2,
.product h2,
.contact h2 {
  font-size: 25px;
  margin-bottom: 3rem;
  color: white;
  background-color: #FF8C00;
  border: 6px solid 	#8B0000;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: "Pacifico", cursive;
  display: inline-block;
  text-align: center;
}

.about .row {
  display: flex;
}
.about .row .about-img {
  flex: 1 1 720px;
}
.about .row .about-img img {
    width: 515px;
    height: 500px;
    border-radius: 50px;
    border: 8px solid 	#8B0000;
}
.about .row .content {
  flex: 1 1 560px;
  padding: 0 16px;
}
.about .row .content p {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: bold;
  text-align: justify;
  margin-top: 8rem;
  text-shadow: 2px 2px 4px 	#fff;
}
span {
  color: 	#FF0000;
}
/* TENTANG KAMI END */

/* VISI MISI START */

.visi .misi .teks p {
  margin-bottom: 0.8rem;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  text-align: justify;
  margin-top: 4rem;
  text-shadow: 2px 2px 4px 	#fff;
  margin-left: 50px;
}

.visi-video video {
  width: 615px;
  border-radius: 50px;
  border: 8px solid 	#8B0000;
  
}

.misi {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.visi-video {
  margin-top: 10px;
}

.visi-video,
.teks {
  flex: 0 1 calc(50% - 30px);
}

.gallery {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-top: 10px;
  }
  .gallery img {
    width: 400px;
    border-radius: 50px;
    margin: 20px 20px;
  }

  @media (max-width: 767px) {
    .gallery {
      flex-direction: column;
      align-items: center;
    }
    .gallery img {
      max-width: none;
      width: 315px;
      max-width: 100%;
    }
    /* Contact Start */
    .alamat h1 {
      font-size: 16px;
    }
    .map {
      width: 100%; /* Ukuran penuh pada tampilan seluler */
      height: 100vw;
    }
    .about .row .about-img img {
      width: 515px;
      height: 300px;
    }
}
@media (max-width: 920px) {
    .misi {
      flex-direction: column;
    }
    .visi-video {
      order: -1;
    }
    .visi .misi .teks p {
      margin-left: auto;
    }
  }
  @media (max-width: 767px) {
    .navbar img {
      width: 30%;
      border-radius: 6rem;
      margin-bottom: 3rem;
      border: 6px solid 	#8B0000;
  }
    .misi {
      flex-direction: column-reverse; /* Balikkan urutan pada layar yang lebih kecil */
    }
    .about .row .content p,
    .visi .misi .teks p {
      font-size: 25px;
      margin-left: auto;
      margin-top: 1rem;
    }

    /* footer-start */
    .instagram-link,
    .facebook-link,
    .shopee-link,
    .No-Telp-link {
      margin: 5px 5px;
    }
    footer p {
      font-size: 15px;
    }
    .contact h1 p {
      text-shadow: 2px 2px 4px 	#FFf;
    }
    .contact p {
      font-size: 1rem;
    }
    .form h4 {
      font-size: 0.5rem;
    }
}

.footer {
    bottom: 0;
    background-color: #FF8C00;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 100px;
}
.footer a {
    color: white;
}
.footer .footer-left,
.footer .footer-center,
.footer .footer-right {
    display: inline-block;
    vertical-align: top;
}

@media (max-height: 800px) {
    footer {
        position: static;
    }
}
.footer .footer-left {
    width: 30%;
}
.footer h2 {
    color: white;
    margin: 0;
    padding-bottom: 20px;
    font-family: 'Pacifico', cursive;
}
.footer .footer-left img {
    width: 40%;
    border-radius: 2rem;
    vertical-align: middle;
}
.footer .footer-copyright {
    color: 		#8B4513;
    font-size: 14px;
    margin: 0;
    padding-top: 10%;
}
.footer .footer-center {
    width: 35%;
}
.footer .footer-center i {
    background-color: 		#8B4513;
    color: white;
    font-size: 15px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}
.footer .footer-center p {
    display: inline-block;
    color: white;
    vertical-align: middle;
    margin: 0;
}
.footer .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}
.footer .footer-center p a {
    color: white;
}
.footer .footer-right {
    width: 30%;
}
.footer .footer-about {
    line-height: 20px;
    color: white;
    font-size: 15px;
    font-weight: normal;
    margin: 0;
}
.footer .footer-about span {
    display: block;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}
.footer .footer-media {
    margin-top: 35px;
    margin-left: 36%;
}
.footer .footer-media a {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: 		#8B4513;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-right: 3px;
}
.footer .footer-media a:hover {
    background-color: #000;
}
@media (max-width: 880px) {

    .footer .footer-left,
    .footer .footer-center,
    .footer .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: left;
    }

    .footer .footer-center i {
        margin-left: 0;
    }
    .footer .footer-left img {
        width: 60%;
        border-radius: 2rem;
        vertical-align: middle;
    }
}


/* menu */
.card img {
  border-radius: 1.5rem;
}
.card {
  border-radius: 2rem;
}
.judulproduct h2 {
  font-size: 25px;
  margin-bottom: 3rem;
  color: white;
  background-color: #FF8C00;
  border: 6px solid 	#8B0000;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: "Pacifico", cursive;
  display: inline-block;
  text-align: center; 
}
    
.form {
  max-width: 900px;
  margin: 80px auto;
  padding: 50px;
  background-color: #FF8C00;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border: solid 8px;
}
.form h4 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 20px;
}
form label {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  color: #fff;
}
.form input,
.form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
}
.form button {
  background: #000;
  color: white;
  padding: 15px 0;
  width: 100%;
  border: 2px solid white;
  cursor: pointer;
}

.contact h1, p {
  text-shadow: 2px 2px 4px 	#FFf;
}
.contact p {
  font-size: 1.5rem;
}
